$themes: (
        theme1: guide__event_post-modern,
        theme2: guide__event_pancake,
        theme3: guide__event_yoga,
        theme4: guide__event_political
);

$config: (
        theme1: (
                background: $c-green,
                border-right: 5px solid $c-green
        ),
        theme2: (
                background: $c-orange,
                border-right: 5px solid $c-orange
        ),
        theme3: (
                background: $c-blue,
                border-right: 5px solid $c-blue
        ),
        theme4: (
                background: $c-yellow,
                border-right: 5px solid $c-yellow
        )
);