.guide__event {
  background-color: lighten($c-grey, 15%);
  border: 1px solid darken($c-grey, 10%);
  display: flex;
  &:hover {
    background-color: lighten($c-grey, 5%);
    box-shadow: 0 0 5px 5px $c-grey;
    transform: translateX(-3px);
  }
}

.guide__event_post-modern {
  opacity:0;
  animation: show $speed-3 1;
  animation-fill-mode: forwards;
  animation-delay: $speed-1;
}

.guide__event_pancake {
  opacity:0;
  animation: show $speed-3 1;
  animation-fill-mode: forwards;
  animation-delay: $speed-2;
}

.guide__event_yoga {
  opacity:0;
  animation: show $speed-3 1;
  animation-fill-mode: forwards;
  animation-delay: $speed-3;
}

.guide__event_political {
  opacity:0;
  animation: show $speed-3 1;
  animation-fill-mode: forwards;
  animation-delay: $speed-4;
}

@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}