.guide__event__left {
  margin: 20px;
  text-align: center;
}

.left__picture {
  border: 5px solid $c-grey;
  border-radius: 100px;
  height: 110px;
  width: 110px;
  &:hover {
    border: 5px solid $c-white;
    transform: scale(1.1);
  }
}

.left__sets {
  font-size: 16px;
  margin-top: -3px;
}

.left__amount {
  border-radius: 3px;
  color: $c-white;
  margin-left: 10px;
  margin-top: -15px;
  padding: 2px;
  width: 92px;
}

.left__amount {
  @each $key, $value in $themes {
    @if map-has-key($config, $key) {
      .#{$value} & {
        background: setStyle($config, $key, background);
      }
    } @else {
      @warn "The key ´#{$key} isn't defined in the map $config´"
    }
  }
}