.right__header {
  font-weight: 100;
  padding-left: 40px;
}

.right__coordinates {
  display: flex;
  font-size: 14px;
  list-style: none;
  margin-top: -20px;
}

.right__coordinates__date,
.right__coordinates__hours {
  margin-right: 20px;
}

.right__info {
  font-size: 16px;
  margin-top: 40px;
  padding-left: 40px;
}

.guide__event__right {
  @each $key, $value in $themes {
    @if map-has-key($config, $key) {
      .#{$value} & {
        border-right: setStyle($config, $key, border-right);
      }
    } @else {
      @warn "The key ´#{$key} isn't defined in the map $config´"
    }
  }
}